{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="{% static " css/app.css" %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'signup'%}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    </header>
    <main>
        <div class="login-form">
            <div>
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Login</button>
                </form>
            </div>
    </main>
</body>

</html>
